@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: none;
}

body {
  /* min-height: 100vh; */
  width: 100%;
  cursor: none;
  overflow-x: hidden;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  font-family: "Open Sans", sans-serif;
  cursor: none;
}

a {
  text-decoration: none;
  color: black;
}

/* Navbar */

#main-navbar {
  padding: 2vh 5% 1vh;
  display: grid;
  position: fixed;
  width: 100%;
  min-height: 10vh;
  top: 0;
  z-index: 6;
  grid-template-columns: repeat(6, 1fr);
  background-color: white;
  /* border-bottom: 1px solid gray; */
}

#navbar-filler {
  min-height: 10vh;
  /* padding: 1vh 5vw; */
  /* width: 90vw; */
  background-color: white;
}

#navbar-overlay-button-container {
  display: none;
  grid-column-start: 6;
  grid-column-end: 8;
  justify-content: right;
  width: 100%;
  overflow: hidden;
}

.navbar-overlay-button {
  height: 30px;
  width: 30px;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.navbar-logo {
  height: 100%;
  margin: 0;
}

.navbar-links-container {
  grid-column-start: 2;
  grid-column-end: 6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #004aad; */
  border-radius: 12px;
  width: 90%;
  margin: 0 auto;
}

.navbar-link {
  color: #004aad;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  width: 80%;
  margin: 0 3%;
  padding: 1% 2%;
  height: 60%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s all ease-in-out;
}

.navbar-link:hover {
  background-color: #004aad;
  color: white;
}

.navbar-download-button-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.navbar-download-button,
.navbar-overlay-download-button {
  color: white;
  height: 70%;
  width: 60%;
  font-weight: 800;
  font-size: 20px;
  border-radius: 12px;
  margin-right: 20px;
  transition: 0.5s all ease-in-out;
  background-color: #004aad;
}

.navbar-download-button:hover {
  background-color: #f99820;
}

.divider {
  height: 30%;
  width: 3px;
  border: none;
  background-color: #004aad;
}

#overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #8ebfff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: translateX(100%);
  transition: all 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#overlay-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay-link {
  font-size: 40px;
  padding: 20px;
  color: rgba(0, 0, 0, 0.658);
}

@media only screen and (max-width: 1400px) {
  .navbar-links-container {
    display: none;
  }
  .navbar-download-button {
    display: none;
  }
  #navbar-overlay-button-container {
    display: flex;
  }
  .navbar-logo-container {
    margin: 2% 5%;
  }
  .navbar-logo {
    height: 50px;
  }
}

/* Navbar and Overlay ends */

/* Main Content */

.front-content-container {
  display: flex;
  /* width: 100%; */
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
}

.front-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 80vh;
  margin: auto;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.phone-models {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.front-content-phone-model-straight {
  height: 80%;
}

.front-content-phone-model-tilted {
  height: 100%;
  padding-bottom: 10%;
}

.front-content-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
  align-items: left;
  padding-left: 10px;
}

.front-content-main-heading {
  font-size: 60px;
  font-weight: 600;
  color: #004aad;
  width: 100%;
  padding-bottom: 2%;
}

.front-content-sub-heading {
  font-size: 25px;
  width: 80%;
  color: gray;
  padding-bottom: 10%;
}

.playstore-download-button {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  width: min-content;
  height: min-content;
}

.playstore-download-button-img {
  height: 70px;
  width: 210px;
}

/* .playstore-button-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* height: 100%; 
  font-size: 100%;
}

.playstore-text {
  font-size: 120%;
  font-weight: 600;
} */

@media only screen and (max-width: 1400px) {
  .front-content {
    grid-template-columns: repeat(1, 1fr);
    /* height: auto; */
  }
  .front-content-main-heading {
    font-size: 250%;
    width: 100%;
  }
  .front-content-sub-heading {
    font-size: 150%;
    width: 100%;
  }
  .phone-models {
    height: 50vh;
  }
  .front-content-phone-model-straight {
    height: 70%;
  }
  .front-content-phone-model-tilted {
    height: 80%;
    padding-bottom: 5%;
  }
  .playstore-download-button-img {
    height: 50px;
    width: 150px;
  }
  .playstore-download-button {
    margin-bottom: 20px;
  }
}

/* How it works */

.how-it-works-section-container {
  min-height: 80%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-it-works-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: min-content;
  width: 80%;
  padding: 10vh 0;
}

.how-it-works-section-container:nth-last-of-type(3) {
  background-color: lightgray;
}

.how-it-works-text {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  justify-self: right;
}

.how-it-works-heading {
  font-weight: 600;
  font-size: 80px;
  padding-bottom: 10px;
}

.how-it-works-sub-heading {
  font-size: 20px;
}

.how-it-works-phone-model-container {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
}

.how-it-works-phone-model {
  height: 60%;
  z-index: 1;
}

.how-it-works-coin-type1 {
  height: 5%;
  transform: translateX(100%);
  z-index: -1;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.how-it-works-coin-type2 {
  height: 15%;
  transform: translateX(-115%);
  z-index: -1;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pop-out-coin1 {
  transform: translateX(-75%) translateY(-300%) rotate(-30deg);
  z-index: 0;
}

.pop-out-coin2 {
  transform: translateX(20%) translateY(100%) rotate(45deg);
  z-index: 0;
}

@media only screen and (max-width: 1400px) {
  .how-it-works-section {
    grid-template-columns: repeat(1, 1fr);
    padding: 1vh 0;
    height: 80vh;
  }
  .how-it-works-text {
    justify-self: center;
    padding-bottom: 3vh;
  }
  .how-it-works-heading {
    font-size: 200%;
  }
  .how-it-works-sub-heading {
    font-size: 100%;
  }
  .how-it-works-phone-model-container {
    height: 40vh;
  }
  .how-it-works-phone-model {
    height: 100%;
  }
}

/* FAQ Section */

.container {
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto;
}

.section__headline {
  font-family: "Varela Round", sans-serif;
  font-size: 200%;
  color: lightblue;
  padding-left: 15px;
  padding-top: 30px;
}

.c-faqs {
  margin: 15px 0;
  padding: 0 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.c-faq {
  font-family: "Varela Round", sans-serif;
  list-style: none;
  margin: 10px 0 5px;
}

.c-faq__title {
  width: 100%;
  font-weight: 500;
  /* background: #a9c8f2; */
  /* border-radius: 12px; */
  padding: 10px;
  /* cursor: pointer; */
  z-index: 2;
  position: relative;
  font-size: 1.1em;
}

.c-faq__title::before {
  content: "";
  height: 1px;
  width: 100px;
  background-color: black;
}

.c-faq__title:hover {
  text-decoration: underline;
}
.c-faq__title::after {
  white-space: nowrap;
  font-weight: 300;
  padding-left: 5px;
  opacity: 0;
  transform-origin: 11px;
  /* transform: rotateZ(90deg); */
  transition: all 0.2s ease-in-out;
  display: none;
  content: ">";
}

.c-faq--active .c-faq__title::after {
  opacity: 1;
  /* transform: rotateZ(90deg); */
  display: inline-block;
}

.c-faq__answer {
  position: absolute;
  opacity: 0;
  z-index: -1;
  font-weight: normal;
  margin-top: -10%;
  z-index: 1;
  font-size: 18px;
  color: gray;
  overflow-y: auto;
  width: 0;
}

.c-faq--active .c-faq__answer {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  transition: opacity 0.5s;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #004aad;
  color: white;
  min-height: 50%;
  max-height: 100%;
}

@media all and (min-width: 780px) {
  .c-faqs {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .c-faqs::before {
    opacity: 0.2;
  }

  .c-faq {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .c-faq__title {
    width: 50%;
    padding-right: 40px;
    display: inline-block;
  }

  .c-faq--active .c-faq__title {
    font-size: 25px;
    transition: all 0.1s ease-in;
  }

  .c-faq__title::after {
    display: none;
  }

  .c-faq--active .c-faq__answer {
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    width: 50%;
  }
  .section__headline {
    font-size: 60px;
  }
}

/* Footer */

.main-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: rgb(18, 36, 52);
  color: rgb(200, 199, 199);
}

.main-footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 2%;
}

.footer-left-section {
  margin: auto 0;
}

.footer-logo {
  height: 80px;
}

.footer-company-name {
  font-size: 30px;
  font-weight: 600;
}

.footer-company-address {
  width: 70%;
  margin-bottom: 20px;
}

.footer-contact-info-icon {
  height: 25px;
  fill: white;
  margin-right: 20px;
}

.footer-contact-info {
  display: flex;
  padding: 10px 0;
}

.footer-contact-us-section {
  padding: 50px 0;
}

.footer-contact-us-text {
  font-size: 25px;
  margin-bottom: 20px;
}

.footer-contact-us-form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.footer-contact-us-input {
  -webkit-appearance: none;
  outline: none;
  background-color: transparent;
  border: 1px solid rgb(200, 199, 199);
  height: 50px;
  border-radius: 8px;
  font-size: 15px;
  margin-bottom: 20px;
  padding-left: 10px;
  width: 50%;
}

.footer-contact-us-query {
  padding-top: 10px;
  height: 100px;
  overflow-y: scroll;
}

@media only screen and (max-width: 1400px) {
  .main-footer {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-contact-us-input {
    width: 80%;
  }
}

/* Cursor */

#cursor {
  width: 8px;
  height: 8px;
  background: gray;
  border-radius: 50%;
  z-index: 999;
  mix-blend-mode: difference;
  position: absolute;
  pointer-events: none;
}

#cursor-outer {
  width: 32px;
  height: 32px;
  border: 1px solid lightgray;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30%;
  z-index: 999;
  mix-blend-mode: difference;
  opacity: 0.5;
  pointer-events: none;
  /* transform: translate(-50%, -50%); */
}

/* @media only screen and (max-width: 1400px) */
/* @media only screen and (max-width: 1400px) {
  #cursor,
  #cursor-outer {
    display: none;
  }
} */
