@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  /* min-height: 100vh; */
  width: 100%;
  overflow-x: hidden;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* Navbar */

#main-navbar {
  padding: 2vh 5% 1vh;
  display: grid;
  position: fixed;
  width: 100%;
  min-height: 10vh;
  top: 0;
  z-index: 6;
  grid-template-columns: repeat(6, 1fr);
  background-color: white;
  /* border-bottom: 1px solid gray; */
}

#navbar-filler {
  min-height: 10vh;
  /* padding: 1vh 5vw; */
  /* width: 90vw; */
  background-color: white;
}

#navbar-overlay-button-container {
  display: none;
  grid-column-start: 6;
  grid-column-end: 8;
  justify-content: right;
  width: 100%;
  overflow: hidden;
}

.navbar-overlay-button {
  height: 30px;
  width: 30px;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.navbar-logo {
  height: 100%;
  margin: 0;
}

.navbar-links-container {
  grid-column-start: 2;
  grid-column-end: 6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #004aad; */
  border-radius: 12px;
  width: 90%;
  margin: 0 auto;
}

.navbar-link {
  color: #004aad;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
  width: 80%;
  margin: 0 3%;
  padding: 1% 2%;
  height: 60%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s all ease-in-out;
}

.navbar-link:hover {
  background-color: #004aad;
  color: white;
}

.navbar-download-button-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.navbar-download-button,
.navbar-overlay-download-button {
  color: white;
  height: 70%;
  width: 60%;
  font-weight: 800;
  font-size: 20px;
  border-radius: 12px;
  margin-right: 20px;
  transition: 0.5s all ease-in-out;
  background-color: #004aad;
}

.navbar-download-button:hover {
  background-color: #f99820;
}

.divider {
  height: 30%;
  width: 3px;
  border: none;
  background-color: #004aad;
}

#overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #8ebfff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: translateX(100%);
  transition: all 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#overlay-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay-link {
  font-size: 40px;
  padding: 20px;
  color: rgba(0, 0, 0, 0.658);
}

@media only screen and (max-width: 1400px) {
  .navbar-links-container {
    display: none;
  }
  .navbar-download-button {
    display: none;
  }
  #navbar-overlay-button-container {
    display: flex;
  }
  .navbar-logo-container {
    margin: 2% 5%;
  }
  .navbar-logo {
    height: 50px;
  }
}

/* Navbar and Overlay ends */

/* Main Content */

.front-content-container {
  display: flex;
  /* width: 100%; */
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
}

.front-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 80vh;
  margin: auto;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.phone-models {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.front-content-phone-model-straight {
  height: 80%;
}

.front-content-phone-model-tilted {
  height: 100%;
  padding-bottom: 10%;
}

.front-content-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
  align-items: left;
  padding-left: 10px;
}

.front-content-main-heading {
  font-size: 60px;
  font-weight: 600;
  color: #004aad;
  width: 100%;
  padding-bottom: 2%;
}

.front-content-sub-heading {
  font-size: 25px;
  width: 80%;
  color: gray;
  padding-bottom: 10%;
}

.playstore-download-button {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  width: min-content;
  height: min-content;
}

.playstore-download-button-img {
  height: 70px;
  width: 210px;
}

/* .playstore-button-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* height: 100%; 
  font-size: 100%;
}

.playstore-text {
  font-size: 120%;
  font-weight: 600;
} */

@media only screen and (max-width: 1400px) {
  .front-content {
    grid-template-columns: repeat(1, 1fr);
    /* height: auto; */
  }
  .front-content-main-heading {
    font-size: 250%;
    width: 100%;
  }
  .front-content-sub-heading {
    font-size: 150%;
    width: 100%;
  }
  .phone-models {
    height: 50vh;
  }
  .front-content-phone-model-straight {
    height: 70%;
  }
  .front-content-phone-model-tilted {
    height: 80%;
    padding-bottom: 5%;
  }
  .playstore-download-button-img {
    height: 50px;
    width: 150px;
  }
  .playstore-download-button {
    margin-bottom: 20px;
  }
}

/* How it works */

.how-it-works-container {
  margin: auto;
  width: 80%;
}

.how-it-works-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.how-it-works-section-heading-container {
  width: 100%;
}

.how-it-works-section-heading {
  font-size: 50px;
  text-align: center;
  margin: 30px auto;
  color: #004aad;
  font-weight: 600;
}

.how-it-works-card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px 20px;
}

.how-it-works-phone-model {
  width: 70%;
}

.how-it-works-base-card {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
}

/* Investment Calculator */

.investment-calculator-section-container {
  width: 80%;
  margin: 50px auto;
}

.investment-calculator-input {
  background-color: rgb(227, 227, 227);
  border-radius: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#investment-calculator-base-amount,
#investment-calculator-years {
  width: 100%;
  padding: 5px 0;
  font-size: 20px;
  color: black;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  outline: none;
  background: transparent;
}

.investment-calculator-input-box {
  position: relative;
  margin: 10px 20px;
}

.investment-calculator-input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  color: black;
  font-weight: 400;
  pointer-events: none;
  transition: 0.5s;
}

.investment-calculator-input-box input:focus ~ label,
.investment-calculator-input-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #004aad;
  font-size: 12px;
}

.investment-calculator-output {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.investment-calculator-output-right-side {
  grid-column-start: 2;
  border-radius: 12px;
  width: 100%;
  min-height: 300px;
  max-height: 90%;
  align-self: center;
  background-color: #004aad;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.investment-calculator-output-heading {
  color: white;
  font-size: 30px;
}

.investment-calculator-output-value {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.investment-calculator-output-text:nth-of-type(1) {
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.investment-calculator-output-text:nth-of-type(1) p {
  font-size: 40px;
}

@media only screen and (max-width: 1000px) {
  .investment-calculator-output {
    grid-template-columns: repeat(1, 1fr);
  }
  #myChart,
  .investment-calculator-output-right-side {
    grid-column-start: 1;
    margin: 0 auto;
  }
}

/* FAQ Section */
.faq-section-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.faq-section-heading {
  font-size: 50px;
  text-align: center;
  margin: 30px auto;
  color: #004aad;
  font-weight: 600;
}

.faq-card {
  width: 100%;
  border: 1px solid #004aad;
  border-radius: 12px;
  margin: 10px;
  padding: 20px;
  overflow: hidden;
  position: relative;
}

.faq-heading {
  font-size: 20px;
  width: 100%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-heading-text {
  text-align: left;
}

.faq-heading-icon {
  margin-left: 5px;
}

.faq-answer {
  width: 90%;
  margin-top: 0px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  max-height: 0;
  overflow: hidden;
}

/* Call to action */

.cta-container {
  width: 100%;
  padding: 5% 10%;
  margin: 50px 0;
  background-color: #004aad;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cta-text {
  font-size: 50px;
  color: white;
  width: 50%;
  font-weight: 600;
}

@media only screen and (max-width: 900px) {
  .cta-text {
    width: 100%;
    margin-bottom: 10px;
    font-size: 40px;
  }
}

/* Footer */
.main-footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-footer {
  display: flex;
  font-size: 15px;
  flex-wrap: wrap;
  width: 80%;
  margin: 50px 0;
}

.footer-section-1, .footer-section-2, .footer-section-3 {
  width: 33%;
}

.footer-section-2, .footer-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  height: 80px;
  margin-bottom: 5px;
}

.footer-company-name {
  font-size: 14px;
  font-weight: 600;
  color: #004aad;
  margin-bottom: 25px;
}

.footer-company-desc {
  width: 90%;
}

.footer-contact-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.social-media-icons-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.social-media-icon {
  height: 30px;
  margin-right: 30px;
}

.footer-contact-detail {
  display: inline-flex;
  /* justify-content: center; */
  margin: 10px 0;
}

.footer-contact-info-icon {
  height: 20px;
  margin-right: 15px;
}

.footer-address {
  width: 60%;
}

.footer-copyright {
  text-align: center;
  margin: 5px 0;
  color: rgb(120, 120, 120);
  font-size: 15px;
}


@media only screen and (max-width: 900px) {
  .footer-section-1, .footer-section-2, .footer-section-3 {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-section-2, .footer-section-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-contact-detail {
    display: flex;
    justify-content: flex-start;
  }
}