@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* Navbar */

#main-navbar {
  padding: 2vh 5vw 1vh;
  display: grid;
  position: fixed;
  width: 90vw;
  min-height: 7vh;
  top: 0;
  z-index: 2;
  grid-template-columns: repeat(6, 1fr);
  background-color: white;
  /* border-bottom: 1px solid gray; */
}

#navbar-filler {
  height: 7vh;
  padding: 1vh 5vw;
  width: 90vw;
}

#navbar-overlay-button-container {
  display: none;
  grid-column-start: 6;
  grid-column-end: 8;
  justify-content: right;
  width: 100%;
  overflow: hidden;
}

.navbar-overlay-button {
  height: 30px;
  width: 30px;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.navbar-logo {
  height: 100%;
  margin: 0;
}

.navbar-links-container {
  grid-column-start: 2;
  grid-column-end: 6;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: #004aad; */
  border-radius: 12px;
  width: 90%;
  margin: 0 auto;
}

.navbar-link {
  color: #004aad;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  width: 80%;
  margin: 0 3%;
  padding: 1% 2%;
  height: 60%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s all ease-in-out;
}

.navbar-link:hover {
  background-color: #004aad;
  color: white;
}

.navbar-download-button-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.navbar-download-button,
.navbar-overlay-download-button {
  color: white;
  height: 70%;
  width: 60%;
  font-weight: 800;
  font-size: 20px;
  border-radius: 12px;
  margin-right: 20px;
  transition: 0.5s all ease-in-out;
  background-color: #004aad;
}

.navbar-download-button:hover {
  background-color: #f99820;
}

.divider {
  height: 30%;
  width: 3px;
  border: none;
  background-color: #004aad;
}

#overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #8ebfff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: translateX(100%);
  transition: all 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#overlay-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#overlay-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay-link {
  font-size: 40px;
  padding: 20px;
  color: rgba(0, 0, 0, 0.658);
}

@media only screen and (max-width: 1400px) {
  .navbar-links-container {
    display: none;
  }
  .navbar-download-button {
    display: none;
  }
  #navbar-overlay-button-container {
    display: flex;
  }
  .navbar-logo-container {
    margin: 2% 5%;
  }
  .navbar-logo {
    height: 50px;
  }
}

/* Navbar and Overlay ends */

/* Main Content */

.front-content-container {
  display: flex;
  width: 90%;
  min-height: 86%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.front-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 80vh;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.phone-models {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.front-content-phone-model-straight {
  height: 60%;
}

.front-content-phone-model-tilted {
  height: 75%;
  padding-bottom: 10%;
}

.front-content-text {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: center;
  align-items: left;
}

.front-content-main-heading {
  font-size: 60px;
  font-weight: 800;
  color: #004aad;
  width: 100%;
  padding-bottom: 2%;
}

.front-content-sub-heading {
  font-size: 25px;
  width: 70%;
  color: gray;
  padding-bottom: 10%;
}

.playstore-download-button {
  background-color: black;
  border-radius: 12px;
  width: 200px;
  color: white;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.playstore-button-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* height: 100%; */
  font-size: 100%;
}

.playstore-text {
  font-size: 120%;
  font-weight: 600;
}

@media only screen and (max-width: 1400px) {
  .front-content {
    grid-template-columns: repeat(1, 1fr);
    /* height: auto; */
  }
  .front-content-main-heading {
    font-size: 300%;
    width: 100%;
  }
  .front-content-sub-heading {
    font-size: 150%;
    width: 100%;
  }
  .playstore-download-button {
    width: 200px;
    height: 120px;
    margin-bottom: 5%;
  }
  .front-content-phone-model-straight {
    height: 70%;
  }
  .front-content-phone-model-tilted {
    height: 80%;
    padding-bottom: 5%;
  }
}

/* How it works */

.how-it-works-section-container {
  min-height: 80%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-it-works-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 80vh;
  width: 80%;
  padding: 5vh 0;
}

.how-it-works-section-container:nth-last-of-type(2){
  background-color: lightgray;
}

.how-it-works-text {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  justify-self: right;
}

.how-it-works-heading {
  font-weight: 600;
  font-size: 80px;
  padding-bottom: 10px;
}

.how-it-works-sub-heading {
  font-size: 20px;
}

.how-it-works-phone-model-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.how-it-works-phone-model {
  min-height: 60%;
  z-index: 1;
}

.how-it-works-coin-type1 {
  height: 5%;
  transform: translateX(100%);
  z-index: -1;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.how-it-works-coin-type2 {
  height: 15%;
  transform: translateX(-115%);
  z-index: -1;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pop-out-coin1 {
  transform: translateX(-150%) translateY(-300%) rotate(-30deg);
  z-index:0;
}

.pop-out-coin2 {
  transform: translateX(20%) translateY(100%) rotate(45deg);
  z-index: 0;
}

@media only screen and (max-width: 1400px) {
  .how-it-works-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .how-it-works-text {
    justify-self: center;
    padding-bottom: 3vh;
  }
  .how-it-works-heading{
    font-size: 200%;
  }
  .how-it-works-sub-heading {
    font-size: 100%;
  }
}
